{{#if plants}}  
  {{#each plants as |plant| }}
  <div class="card" style="width: 18rem; margin: 1.5rem;">
    <div class="card-header">
      {{plant.name}}
    </div>
    <ul class="list-group list-group-flush">
      {{!-- <li class="list-group-item"><i class="fas fa-{{plant.class}}"></i>{{plant.class}}</li>
      <li class="list-group-item">{{plant.species}}</li> --}}
      <li class="list-group-item">{{plant.location}}</li>
      {{!-- <li class="list-group-item">{{plant.lastWatered}}</li> --}}
      <li class="list-group-item">{{plant.date_planted}}</li>
    </ul>
  </div>
  {{/each}}
{{/if}}
{{#unless plants}}
<h1 style="padding-left: 5rem; padding-top: 5rem;">You Have Not Added Any Plants!</h1>
{{/unless}}